<form id="options" action="" class="flc-uiOptions-fatPanel-tabs fl-uiOptions">                
	<div class="fl-carousel-arrow-bg fl-carousel-arrow-bg-left"></div>
	<div class="flc-carousel-prev fl-icon-prev fl-carousel-arrow fl-carousel-arrow-left" role="img" aria-label="Previous panels arrow"></div>	
	
    <div class="flc-carousel fl-carousel">    
        <ul class="flc-carousel-panels fl-uiOptions-panels">     
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-sizer"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-font"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-line-spacer"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-contrast"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-layout-controls"></div></li>   
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-links-controls"></div></li>         
	    </ul>	    	    
    </div>    
	<div class="fl-carousel-arrow-bg fl-carousel-arrow-bg-right"></div>        
	<div class="flc-carousel-next fl-icon-next fl-carousel-arrow fl-carousel-arrow-right" role="img" aria-label="Next panels arrow"></div>	
</form>
